@{
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<section style="margin:2em;">
    An email has been sent, we'll get back to you soon, click @Html.ActionLink("here", "Index", "Home") to go back to the home page.
</section>
        
