@model List<Nero.Models.Employee>
@{
    
    if(Model.Count == 1)
    { 
        ViewBag.Title = "About " + Model.First().Name;
    }
    else
    {
        ViewBag.Title = "About Nero Engineering";
    }
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h2>About</h2>

@if(Model.Count == 1)
{

    <text>@Html.DisplayFor(x => x.First().Name)</text>
}
else
{
    <ul>
        @foreach (Nero.Models.Employee employee in Model)
        {

            <li><a href="/About/@employee.Name.Substring(0, employee.Name.IndexOf(' '))">@employee.Name</a></li>
        }
    </ul>
}



